<div id="<%= dom_id collect %>">
  <p>
    <strong>Resident:</strong>
    <%= collect.resident_id %>
  </p>

  <p>
    <strong>Collected on:</strong>
    <%= collect.collected_on %>
  </p>

  <p>
    <strong>Ammount:</strong>
    <%= collect.ammount %>
  </p>

</div>
